<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>asbcards.az</title>

    <link href="~/ASBCards.az/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/ASBCards.az/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="~/ASBCards.az/css/plugins/dataTables/datatables.min.css" rel="stylesheet">

    <link href="~/ASBCards.az/css/animate.css" rel="stylesheet">
    <link href="~/ASBCards.az/css/style.css" rel="stylesheet">

</head>
